<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586137721409-tjbbeukj179v5h4qiooabecdqbmj2829.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586137721409-tjbbeukj179v5h4qiooabecdqbmj2829</string>
	<key>API_KEY</key>
	<string>AIzaSyDAkzVdh1y7M9gvFBeTp8srbmQt4KF6Du4</string>
	<key>GCM_SENDER_ID</key>
	<string>586137721409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riptidal.CitySounds</string>
	<key>PROJECT_ID</key>
	<string>citysoundsapp-ebbad</string>
	<key>STORAGE_BUCKET</key>
	<string>citysoundsapp-ebbad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586137721409:ios:73eb42351b9534db33c4c0</string>
	<key>DATABASE_URL</key>
	<string>https://citysoundsapp-ebbad.firebaseio.com</string>
</dict>
</plist>